//product detail page number //2344

<!-- <div class="description-review-area section-padding-7 pb-100">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="description-review-wrapper">
                <div class="description-review-topbar nav">
                  <a class="active" data-bs-toggle="tab" href="#des-details1"
                    >Description</a
                  >
                  <a data-bs-toggle="tab" href="#des-details2"
                    >Additional information</a
                  >
                  <a data-bs-toggle="tab" href="#des-details3">Reviews (1)</a>
                  <a data-bs-toggle="tab" href="#des-details4"> Brands</a>
                  <a data-bs-toggle="tab" href="#des-details5"
                    >Shipping & Delivery</a
                  >
                </div>
                <div class="tab-content description-review-bottom">
                  <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                      <div class="row">
                        <div class="product-dec-col-38">
                          <div class="pro-details-banner">
                            <a
                              class="video-popup"
                              href="https://player.vimeo.com/video/181061053?autoplay=1&amp;byline=0&amp;collections=0"
                              ><img
                                src="http://localhost:3700/assets/images/product-details/pro-details-banner.jpg"
                                alt=""
                            /></a>
                          </div>
                        </div>
                        <div class="product-dec-col-62">
                          <div class="product-dec-content">
                            <p>
                              Donec accumsan auctor iaculis. Sed suscipit arcu
                              ligula, at egestas magna molestie a. Proin ac ex
                              maximus, ultrices justo eget, sodales orci.
                              Aliquam egestas libero ac turpis pharetra, in
                              vehicula lacus scelerisque. Vestibulum ut sem
                              laoreet, feugiat tellus at, hendrerit arcu..
                            </p>
                            <ul>
                              <li>
                                Maecenas eu ante a elit tempus fermentum.
                                Aliquam commodo tincidunt semper
                              </li>
                              <li>
                                Aliquam est et tempus. Eaecenas libero ante,
                                tincidunt vel
                              </li>
                            </ul>
                            <p>
                              Nunc lacus elit, faucibus ac laoreet sed, dapibus
                              ac mi. Maecenas eu ante a elit tempus fermentum.
                              Aliquam commodo tincidunt semper. Phasellus
                              accumsan, justo ac mollis pharetra,.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="des-details2" class="tab-pane">
                    <div class="additional-info">
                      <ul>
                        <li><span>Size</span>L, S, XL, XXL</li>
                        <li>
                          <span>Brands</span>Airi, Draven, Mango, Valentino,
                          Zara
                        </li>
                        <li>
                          <span>Color</span> Blue, Brown, Green, Pink, Violet,
                          White
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="des-details3" class="tab-pane">
                    <div class="review-wrapper">
                      <h2>1 review for Sleeve Button Cowl Neck</h2>
                      <div class="single-review">
                        <div class="review-img">
                          <img
                            src="http://localhost:3700/assets/images/product-details/client-1.jpg"
                            alt=""
                          />
                        </div>
                        <div class="review-content">
                          <div class="review-top-wrap">
                            <div class="review-name">
                              <h5><span>John Snow</span> - March 14, 2023</h5>
                            </div>
                            <div class="review-rating">
                              <i class="yellow fa fa-star"></i>
                              <i class="yellow fa fa-star"></i>
                              <i class="yellow fa fa-star"></i>
                              <i class="yellow fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                          </div>
                          <p>
                            Donec accumsan auctor iaculis. Sed suscipit arcu
                            ligula, at egestas magna molestie a. Proin ac ex
                            maximus, ultrices justo eget, sodales orci. Aliquam
                            egestas libero ac turpis pharetra, in vehicula lacus
                            scelerisque
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="ratting-form-wrapper">
                      <span>Add a Review</span>
                      <p>
                        Your email address will not be published. Required
                        fields are marked <span>*</span>
                      </p>
                      <div class="ratting-form">
                        <form action="#">
                          <div class="row">
                            <div class="col-lg-3 col-md-6">
                              <div class="rating-form-style mb-20">
                                <label>Name <span>*</span></label>
                                <input type="text" />
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                              <div class="rating-form-style mb-20">
                                <label>Email <span>*</span></label>
                                <input type="email" />
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="star-box-wrap">
                                <div class="single-ratting-star">
                                  <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="single-ratting-star">
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="single-ratting-star">
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="single-ratting-star">
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="single-ratting-star">
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                  <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="rating-form-style mb-20">
                                <label>Your review <span>*</span></label>
                                <textarea name="Your Review"></textarea>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-submit">
                                <input type="submit" value="Submit" />
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div id="des-details4" class="tab-pane">
                    <div class="pro-dec-brand-wrap">
                      <div class="row">
                        <div class="ms-auto me-auto col-lg-10">
                          <div class="row align-items-center">
                            <div class="col-lg-4 col-md-6 col-sm-5">
                              <div class="pro-dec-brand-img text-center">
                                <img
                                  src="http://localhost:3700/assets/images/brand-logo/brand-logo-7.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-7">
                              <div class="pro-dec-brand-content">
                                <p>
                                  Donec accumsan auctor iaculis. Sed suscipit
                                  arcu ligula, at egestas magna molestie a.
                                  Proin ac ex maximus, ultrices justo eget,
                                  sodales orci. Aliquam egestas libero ac turpis
                                  pharetra, in vehicula lacus scelerisque.
                                  Vestibulum ut sem laoreet, feugiat tellus at,
                                  hendrerit arcu..
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="des-details5" class="tab-pane">
                    <div class="about-shiping-content">
                      <p>
                        Nunc lacus elit, faucibus ac laoreet sed, dapibus ac mi.
                        Maecenas eu ante a elit tempus fermentum. Aliquam
                        commodo tincidunt semper. Phasellus accumsan, justo ac
                        mollis pharetra, ex dui pharetra nisl, a scelerisque
                        ipsum nulla ac sem. Cras eu risus urna. Duis lorem
                        sapien, congue eget nisl sit amet, rutrum faucibus elit.
                      </p>
                      <p>
                        Donec accumsan auctor iaculis. Sed suscipit arcu ligula,
                        at egestas magna molestie a. Proin ac ex maximus,
                        ultrices justo eget, sodales orci. Aliquam egestas
                        libero ac turpis pharetra, in vehicula lacus
                        scelerisque. Vestibulum ut sem laoreet, feugiat tellus
                        at, hendrerit arcu.
                      </p>
                      <p>
                        Nunc lacus elit, faucibus ac laoreet sed, dapibus ac mi.
                        Maecenas eu ante a elit tempus fermentum. Aliquam
                        commodo tincidunt semper. Phasellus accumsan, justo ac
                        mollis pharetra, ex dui pharetra nisl, a scelerisque
                        ipsum nulla ac sem. Cras eu risus urna. Duis lorem
                        sapien, congue eget nisl sit amet, rutrum faucibus elit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="small-device-area d-block d-md-none">
        <div class="container-fluid">
          <div class="pro-dec-small-device">
            <div
              class="pro-details-sidebar-active slider-nav-style-3 owl-carousel"
            >
              <div class="single-pro-details-sidebar">
                <a href="#"
                  ><img
                    src="http://localhost:3700/assets/images/product-details/pro-details-sidebar-1.jpg"
                    alt=""
                /></a>
                <div class="pro-details-sidebar-content">
                  <h4>
                    <a href="#">NEW <br />LONDON</a>
                  </h4>
                  <p>Off 20% for all</p>
                </div>
              </div>
              <div class="single-pro-details-sidebar">
                <a href="#"
                  ><img
                    src="http://localhost:3700/assets/images/product-details/pro-details-sidebar-2.jpg"
                    alt=""
                /></a>
                <div class="pro-details-sidebar-content">
                  <h4>
                    <a href="#">NEW <br />LONDON</a>
                  </h4>
                  <p>Off 20% for all</p>
                </div>
              </div>
            </div>
            <div class="sidebar-subscribe-wrap">
              <div class="sidebar-subscribe-content text-center">
                <i class="dlicon ui-1_email-84"></i>
                <h5>Join Our Newsletter</h5>
                <p>Sale up to 20% off for your next purchase in this month!</p>
              </div>
              <div class="sidebar-subscribe-form">
                <form
                  class="validate subscribe-form-style"
                  novalidate=""
                  target="_blank"
                  name="mc-embedded-subscribe-form"
                  method="post"
                  action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                >
                  <div class="mc-form">
                    <input
                      class="email"
                      type="email"
                      required=""
                      placeholder=" email address…"
                      name="EMAIL"
                      value=""
                    />
                    <div class="mc-news" aria-hidden="true">
                      <input
                        type="text"
                        value=""
                        tabindex="-1"
                        name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                      />
                    </div>
                    <div class="clear">
                      <input
                        class="button"
                        type="submit"
                        name="subscribe"
                        value="Subscribe"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="related-product-area section-padding-1 pb-95">
        <div class="container-fluid">
          <div class="section-title-6 mb-50">
            <h2>Related Products</h2>
          </div>
          <div class="related-product-active owl-carousel">
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-3.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-3-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3>
                  <a href="product-details.html">Fashion sneaker winter</a>
                </h3>
                <div class="product-price">
                  <span class="new-price">$28.00</span>
                </div>
              </div>
            </div>
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-4.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-4-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3><a href="product-details.html">News strappy sandals</a></h3>
                <div class="product-price">
                  <span class="new-price">$26.00</span>
                </div>
              </div>
            </div>
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-1-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3><a href="product-details.html">Check bermuda shorts</a></h3>
                <div class="product-price">
                  <span class="new-price">$39.00</span>
                </div>
              </div>
            </div>
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-5.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-5-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3>
                  <a href="product-details.html">Down puffer coat collar</a>
                </h3>
                <div class="product-price">
                  <span class="new-price">$55.00</span>
                </div>
              </div>
            </div>
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-6.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-6-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3>
                  <a href="product-details.html">Bejewelled velvet sandals</a>
                </h3>
                <div class="product-price">
                  <span class="new-price">$49.00</span>
                </div>
              </div>
            </div>
            <div class="product-wrap">
              <div class="product-img default-overlay mb-25">
                <a href="product-details.html">
                  <img
                    class="default-img"
                    src="http://localhost:3700/assets/images/product/product-4.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="http://localhost:3700/assets/images/product/product-4-2.jpg"
                    alt=""
                  />
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3><a href="product-details.html">News strappy sandals</a></h3>
                <div class="product-price">
                  <span class="new-price">$26.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-area section-padding-1 border-top-3">
        <div class="container-fluid">
          <div class="footer-top pt-100 pb-60">
            <div class="row">
              <div class="footer-column footer-width-24">
                <div class="footer-widget footer-about mb-30">
                  <a href="index.html">
                    <img
                      src="http://localhost:3700/assets/images/logo/logo.png"
                      alt="logo"
                    />
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, magna habemus ius ad, qui
                    minimum voluptar
                  </p>
                  <div class="social-icon-style-2 social-icon-hm4">
                    <a class="facebook" href="#"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a class="twitter" href="#"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a class="youtube" href="#"
                      ><i class="fa fa-youtube"></i
                    ></a>
                    <a class="dribbble" href="#"
                      ><i class="fa fa-dribbble"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="footer-column footer-width-12">
                <div class="footer-widget footer-info-list-2 mb-30">
                  <h3 class="footer-title">Company Link</h3>
                  <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">The Blog</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-column footer-width-14">
                <div class="footer-widget footer-info-list-2 mb-30">
                  <h3 class="footer-title">Userful Link</h3>
                  <ul>
                    <li><a href="#">Guides & Articles</a></li>
                    <li><a href="#">Customer Reviews</a></li>
                    <li><a href="#">Coupon Codes</a></li>
                    <li><a href="#">Military Discount</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-column footer-width-19">
                <div
                  class="footer-widget footer-info-list-2 footer-contect mb-30"
                >
                  <h3 class="footer-title">Contact info</h3>
                  <ul>
                    <li>
                      <i class="dlicon ui-2_time-clock"></i> Monday - Friday:
                      9:00 - 19:00
                    </li>
                    <li>
                      <i class="dlicon ui-1_email-83"></i> info@example.com
                    </li>
                    <li>
                      <i class="dlicon tech-2_rotate"></i> (+612) 2531 5600
                    </li>
                    <li>
                      <i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins
                      Street West Victoria 8077 Australia
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-column footer-width-29 mb-30">
                <div class="contact-page-map">
                  <div id="contact-map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus"
                      style="border: 0; width: 100%; height: 100%"
                      allowfullscreen=""
                      loading="lazy"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-botoom">
            <div class="row">
              <div class="col-12">
                <div class="copyright-2 text-center">
                  <p>
                    © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights
                    reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="support-lists">
        <ul>
          <li>
            <a href="#"><i class="dlicon ui-3_chat-46"></i></a>
          </li>
          <li>
            <a href="#"><i class="dlicon ui-3_phone"></i></a>
          </li>
          <li>
            <a href="#"><i class="dlicon ui-1_email-85"></i></a>
          </li>
        </ul>
      </div>
      <div class="view-demo-area">
        <a class="view-demo-btn-active" href="#">More Demos</a>
        <div class="view-demo-aside-active">
          <div class="view-demo-wrap">
            <div class="view-demo-tab-list nav">
              <a class="active" href="#view-demo-1" data-bs-toggle="tab">
                Demo Group 01
              </a>
              <a href="#view-demo-2" data-bs-toggle="tab"> Demo Group 02 </a>
              <a href="#view-demo-3" data-bs-toggle="tab"> Demo Group 03 </a>
            </div>
            <div class="tab-content jump-2">
              <div id="view-demo-1" class="tab-pane active">
                <div class="row">
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-1.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index.html">Home Demo 01</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-2.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-2.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-2.html">Home Demo 02</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-3.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-3.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-3.html">Home Demo 03</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-4.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-4.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-4.html">Home Demo 04</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-5.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-5.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-5.html">Home Demo 05</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-6.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-6.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-6.html">Home Demo 06</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-7.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-7.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-7.html">Home Demo 07</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-8.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-8.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-8.html">Home Demo 08</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="discover-more-btn">
                  <a href="#">Discover More</a>
                </div>
              </div>
              <div id="view-demo-2" class="tab-pane">
                <div class="row">
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-9.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-9.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-9.html">Home Demo 09</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-10.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-10.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-10.html">Home Demo 10</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-11.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-11.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-11.html">Home Demo 11</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-12.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-12.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-12.html">Home Demo 12</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-13.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-13.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-13.html">Home Demo 13</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-14.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-14.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-14.html">Home Demo 14</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-15.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-15.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-15.html">Home Demo 15</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-16.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-16.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-16.html">Home Demo 16</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="discover-more-btn">
                  <a href="#">Discover More</a>
                </div>
              </div>
              <div id="view-demo-3" class="tab-pane">
                <div class="row">
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-17.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-17.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-17.html">Home Demo 17</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-18.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-18.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-18.html">Home Demo 18</a></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 col-sm-6">
                    <div class="demo-item mb-40">
                      <div class="demo-item-img">
                        <a href="index-19.html">
                          <img
                            src="http://localhost:3700/assets/images/demo-img/h-19.jpg"
                            alt="demo-img"
                          />
                          <span>View Demo</span>
                        </a>
                      </div>
                      <div class="demo-item-content">
                        <h4><a href="index-19.html">Home Demo 19</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="discover-more-btn">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"> 
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span
                  class="dlicon ui-1_simple-remove"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row g-0">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="quickview-slider-active owl-carousel">
                    <a
                      class="img-popup"
                      href="http://localhost:3700/assets/images/product/quickview-1.jpg"
                      ><img
                        src="http://localhost:3700/assets/images/product/quickview-1.jpg"
                        alt=""
                      /><span>sold uot</span></a
                    >
                    <a
                      class="img-popup"
                      href="http://localhost:3700/assets/images/product/quickview-2.jpg"
                      ><img
                        src="http://localhost:3700/assets/images/product/quickview-2.jpg"
                        alt=""
                      /><span>sold uot</span></a
                    >
                  </div>
                  <!-- Thumbnail Large Image End -->
<!-- </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="product-details-content">
                    
                    <h2 class="uppercase">Quilted parka with hood</h2>
                    <h3>$49.00</h3>
                    <div class="product-details-peragraph">
                      <p>
                        Donec accumsan auctor iaculis. Sed suscipit arcu ligula,
                        at egestas magna molestie a. Proin ac ex maximus,
                        ultrices justo eget, sodales orci. Aliquam libero ac
                        turpis pharetra, in vehicula scelerisque. Vestibulum ut
                        sem laoreet, feugiat tellus at, hendrerit arcu.
                      </p>
                    </div>
                    <div class="product-details-action-wrap">
                      <div class="product-details-quality">
                        <div class="cart-plus-minus">
                          <input
                            class="cart-plus-minus-box"
                            type="text"
                            name="qtybutton"
                            value="2"
                          />
                        </div>
                      </div>
                     
                      <div class="product-details-cart">
                        <a title="Add to cart" href="#">Add to cart</a>
                      </div>
                      <div class="product-details-wishlist">
                        <a title="Add to wishlist" href="#"
                          ><i class="fa fa-heart"></i
                        ></a>
                      </div>
                      <div class="product-details-compare">
                        <a title="Add to compare" href="#"
                          ><i class="dlicon arrows-4_compare"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-details-info">
                      <a href="#"
                        ><i class="dlicon location_pin"></i>Store
                        availability</a
                      >
                      <a href="#"
                        ><i class="dlicon envir_car"></i>Delivery and return</a
                      >
                      <a href="#"
                        ><i class="dlicon design_measure-17"></i>Size Guide</a
                      >
                    </div>
                    <div class="product-details-meta">
                      <span>SKU: REF. LA-140</span>
                      <span
                        >Categories: <a href="#">Fashions</a>,
                        <a href="#">Main 01</a>, <a href="#">Main 02</a></span
                      >
                      <span
                        >Tags: <a href="#">Blazer</a>, <a href="#">chair</a>,
                        <a href="#">Coat</a>, <a href="#">dress</a>,
                        <a href="#">light</a>, <a href="#">Living</a>,
                        <a href="#">Main 01</a></span
                      >
                    </div>
                    <div class="social-icon-style-3">
                      <a class="facebook" href="#"
                        ><i class="fa fa-facebook"></i
                      ></a>
                      <a class="twitter" href="#"
                        ><i class="fa fa-twitter"></i
                      ></a>
                      <a class="linkedin" href="#"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                      <a class="pinterest" href="#"
                        ><i class="fa fa-pinterest-p"></i
                      ></a>
                      <a class="google-plus" href="#"
                        ><i class="fa fa-google-plus"></i
                      ></a> -->
<!-- </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
<!-- Modal end -->










































<!-- <div class="address-selection">
  <%# if(address.length!==0){%>
  <h3>Select Address</h3>
  <%# }%> <%#  address.forEach(row => { %> <%# 
  row.addressDetails.forEach((details, index) => { %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Address <%# = index + 1 %></h5>
    </div>
    <div class="card-body">
      <div class="form-check">
        <input style="background-color:#262626; border-color:
        #000000;" class="form-check-input" type="radio"
        name="addressID" id="addressID-<%# = details._id %>"
        value="<%# = details._id %>" <%# = index === 0 ? 'checked' : ''
        %> />
        <label
          for="addressID-<%# = details._id %>"
          class="form-check-label"
        >
          Select this address
        </label>
      </div>
      <address>
        <strong>Name:</strong> <%# = details.fullName %><br />
        <strong>Email:</strong> <%# = details.email %><br />
        <strong>Phone:</strong> <%# = details.number %><br />
        <strong>Address:</strong> <%# = details.city %>,<br />
        <%# = details.state %>, <%# = details.country %>, <%# =
        details.postalCode %>
      </address>
      <button style="background-color: #fc4f4f; border-color: #fc4f4f; color : white; width:163px" class="edit-address-btn" data_id="<%# = details._id %>" " data-fullname="<%# = details.fullName %>" data-city="<%# = details.city %>" data-state="<%# = details.state %>" data-postalcode="<%# = details.postalCode %>" data-country="<%# = details.country %>" data-number="<%# = details.number %>" data-email="<%# = details.email %>" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
    </div>
  </div>
  <%#  }) %> <%#  }) %>


  <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="ediAddressModalLabel">Update Address</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="editaddressForm" action="/checkout/edit" method="post">
    <div class="modal-body">
        <div id="error-message" style="color: red; margin-bottom: 15px;"></div>
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="editfullName" name="fullName">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="editcity" name="city">
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State/Province/Region</label>
            <input type="text" class="form-control" id="editstate" name="state">
        </div>
        <div class="mb-3">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input type="text" class="form-control" id="editpostalCode" name="postalCode">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="editcountry" name="country">
        </div>
        <div class="mb-3">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="editmobileNumber" name="number">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address (optional)</label>
            <input type="email" class="form-control" id="editemail" name="email">
        </div>
        <input type="hidden" class="form-control" id="edit_id" name="id">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" style="background-color: #fc4f4f; height: 40px; border-radius: 10px; border-color: #fc4f4f; color: #ddd;">Update Address</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
<div class="add-new-address">
<h3>Add New Address</h3>
<form id="addAddressForm" action="/checkout" method="POST">
<div class="row">
<div class="col-lg-6 mb-3">
    <label for="fullName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="fullName" name="fullName" />
</div>
<div class="col-lg-6 mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" />
</div>
<div class="col-lg-6 mb-3">
    <label for="state" class="form-label">State/Province/Region</label>
    <input type="text" class="form-control" id="state" name="state" />
</div>
<div class="col-lg-6 mb-3">
    <label for="postalCode" class="form-label">Postal Code</label>
    <input type="text" class="form-control" id="postalCode" name="postalCode" />
</div>
<div class="col-lg-6 mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="text" class="form-control" id="country" name="country" />
</div>
<div class="col-lg-6 mb-3">
    <label for="mobileNumber" class="form-label">Mobile Number</label>
    <input type="text" class="form-control" id="mobileNumber" name="number" />
</div>
<div class="col-lg-6 mb-3">
    <label for="email" class="form-label">Email Address (optional)</label>
    <input type="email" class="form-control" id="email" name="email" />
</div>
</div>

<div id="add-error-message" style="color: red; margin-bottom: 15px;"></div> <!-- Error message area -->

// <button>
// type="submit"
// class="btn btn-primary"
// style="background-color: #fc4f4f; border-color: #fc4f4f"
// >
// Save Address
// </button>
// </form> -->